<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="engine" class="org.example.PetrolEngine"></bean>

    <bean id="diesel" class="org.example.DeiselEngine" autowire-candidate="false"></bean>

    <bean id="car" class="org.example.Car" autowire="byName">
<!--        Dependency Injection using setter method-->
<!--        <property name="engine" ref="petrol"></property>-->

<!--        Dependency Injection using constructor-->
        <constructor-arg name="engine" ref="diesel"></constructor-arg>
    </bean>
<!--    <bean id="car" class="org.example.Car" autowire="byType"></bean>-->
<!--    <bean id="car" class="org.example.Car" autowire="constructor"></bean>-->

<!--    It give nullPointerException-->
<!--    <bean id="car" class="org.example.Car" autowire="no"></bean>-->


</beans>